<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>아이디가 존재하지 않습니다. 회원가입 해주세요.</h1>
    <form action="/joinOk" method="get">
        <table>
            <tr>
                <td>
                    id:<input type="text" name="id" width="30px"/>
                </td>
            </tr>
            <tr>
                <td>
                    password:<input type="text" name="password" width="30px"/>
                </td>
            </tr>
            <tr>
                <td>
                    name:<input type="text" name="name" width="30px"/>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit"> join! </button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>